/* body */

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: start;
}
.body__content {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 25px 30px 0;
  box-shadow: 2px 5px 5px 5px #ededed;
}
.body__content--title {
  font-weight: bold;
  font-size: 24px;
  padding: 15px 20px 10px;
  text-align: start;
}
.body__content--button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  opacity: 80%;
  background-color: #eff0f6;
  color: #5f2eea;
  font-size: 14px;
  border: #eff0f6;
  margin: 20px;
}
.body__content--button:hover {
  background-color: #5f2eea;
  color: #eff0f6;
}
.order_seat {
  height: 200px;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: start;
  margin: 20px 0 15px;
}
.box {
  text-align: start;
  margin-right: 30px;
}
.box1 {
  background-color: #d6d8e7;
  border-radius: 5px;
  height: 20px;
  width: 20px;
}
.box2 {
  background-color: #5f2eea;
  border-radius: 5px;
  height: 20px;
  width: 20px;
}
.box3 {
  background-color: #6e7191;
  border-radius: 5px;
  height: 20px;
  width: 20px;
}
.box__title {
  padding: 0 15% 0 1%;
  font-size: 14px;
  margin: 0 10px 2px 2px;
}
.button {
  padding: 0 5% 5% 8%;
  display: flex;
}

.button1 {
  flex: 1;
  width: 20%;
  height: 56px;
  color: #5f2eea;
  border: 2px solid #5f2eea;
  background-color: #d6d8e7;
  border-radius: 10px;
  margin-right: 5%;
}
.button2 {
  flex: 1;
  width: 20%;
  height: 56px;
  color: #5f2eea;
  border: 2px solid #5f2eea;
  background-color: #d6d8e7;
  border-radius: 10px;
  margin-left: 5%;
}
.button1:hover {
  border: 2px solid #d6d8e7;
  color: #d6d8e7;
  background-color: #5f2eea;
}
.button2:hover {
  border: 2px solid #d6d8e7;
  color: #d6d8e7;
  background-color: #5f2eea;
}
.info__header {
  text-align: center;
}
h3 {
  margin: 20px;
}
.info__detail {
  margin: 20px 10px;
  font-size: 14px;
}
.info__detail--title {
  color: #6b6b6b;
  text-align: start;
}
.info__detail--value {
  color: #14142b;
  font-weight: bold;
}
.info__detail--title2 {
  font-weight: bold;
  margin: 20px 10px;
  font-size: 24px;
}
.info__detail--value2 {
  color: #5f2eea;
  font-weight: bold;
  margin: 20px 10px;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .seat__col {
    font-size: 8px;
  }
  .body__content--button {
    display: none;
  }
  .box__title {
    font-size: 75%;
  }
  .body__content {
    margin-right: 5px;
    margin-left: 5px;
  }
  .button {
    flex-direction: column;
    width: 100%;
  }
  .button1 {
    display: none;
  }
  .button2 {
    width: 90%;
    padding: 10px;
  }
}
