.manage-image--size {
  margin: 5%;
}

.manage-image--size img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.view_movie__image2 {
  flex: 1 0 10%;
  background-color: white;
  /* box-shadow: 1px 2px 2px 2px #ededed; */
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px;
  width: 20%;
  max-width: 20%;
  min-width: 20%;
}

.view_movie__image--size {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.btn__submit {
  background-color: #5f2eea;
  color: #eff0f6;
}
.btn__submit:hover {
  color: #5f2eea;
  background-color: #eff0f6;
}

.btn__reset {
  color: #5f2eea;
  background-color: #eff0f6;
}

.btn__reset:hover {
  background-color: #5f2eea;
  color: #eff0f6;
}
