.sort {
}

.month {
  margin: 20px 5% 0;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}
.month__text {
  width: 150px;
  margin: 5px;
  padding: 10px;
  color: #5f2eea;
  border: 2px solid #5f2eea;
  background-color: white;
  border-radius: 10px;
}
.month__text:hover {
  background-color: #5f2eea;
  color: white;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
}

.view_movie__image2 {
  flex: 1 0 10%;
  background-color: white;
  /* box-shadow: 1px 2px 2px 2px #ededed; */
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px;
  width: 20%;
  max-width: 20%;
  min-width: 20%;
}

.view_movie__image--size {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

@media (max-width: 1000px) {
  .view_movie__image2 {
    /* flex-direction: column; */
    align-items: center;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    height: auto;
  }
}
